.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 24px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    mix-blend-mode: difference;
    color: white;
}

.logo{
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
}

.navbar nav{
    display: flex;
    gap: 2rem;
}

.navbar nav a{
    font-size: 0.9rem;
    text-transform: uppercase;
    transition: opacity 0.3s ease;
}

.navbar nav a:hover{
    opacity: 0.6;
}


@media (max-width:768px){
    .navbar{
        padding: 24px;
    }

    .navbar nav{
        display: none;
    }
}

